<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STERLING MINI DOCUMENTATION</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <body>
        <div class="container-fluid">
          <div class="row">
            

              
        <div class="col-md-9">
          <main id="main-doc">    
            <div class="head-box">
              <h1>API DOCUMENTATION</h1>
            </div>
            
              <section class="main-section" id="Introduction">
                <header><h2>Introduction</h2></header>
                  <article>
                    <p>
                        API IS HOSTED LIVE ON HEROKU
                    </p>
               </article>
             </section>
          
          

                  
          <section class="main-section" id="Components">
                <header><h2>ENDPOINTS</h2></header>
                  <article>
          <pre>
            <code>
            class="bl">&lt;div&gt; class="alert alert-primary" role="alert">
        This is a primary alert—check it out!&lt;/div&gt;
        &lt;div&gt; class="alert alert-secondary" role="alert">
        This is a secondary alert—check it out!
        &lt;/div&gt;
        &lt;div&gt; class="alert alert-success" role="alert">
        This is a success alert—check it out!
        &lt;/div&gt;
        &lt;div&gt; class="alert alert-danger role="alert">
        This is a danger alert—check it out!
        &lt;/div&gt;
        &lt;div&gt; class="alert alert-warning" role="alert">
        This is a warning alert—check it out!
        &lt;/div&gt;
        &lt;div&gt; class="alert alert-info" role="alert">
        This is a info alert—check it out!
        &lt;/div&gt;
        &lt;div&gt; class="alert alert-light" role="alert">
        This is a light alert—check it out!
        &lt;/div&gt;
        &lt;div&gt; class="alert alert-dark" role="alert">
        This is a dark alert—check it out!
        &lt;/div&gt;</code>
          </pre>
        
            <section class="main-section" id="Reference">
                <header><h2>Reference</h2></header>
                  <article>
                    <p>All the documentation in this page was taken from <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">Get Bootstrap</a>.</p>
                  </article>
            </section>
            </main>
              
            <hr>
         <footer>
              <div class="contact">
            <a href="https://github.com/linh4" target="_blank">
              <span class="icon"><i class="fa fa-github"></i></span></a>
            <a href="https://codepen.io/linh4/" target="_blank">
              <span class="icon"><i class="fa fa-codepen"></i></span></a>
            <a href="https://www.freecodecamp.org/linh4" target="_blank">
              <span class="icon"><i class="fa fa-free-code-camp"></i></span></a>
          </div>
              <p>&copy 2018 Linh Huynh</p>
            </footer>    
            
          </div>
         </div>
        </div>
            
</body>
</html>