<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STERLING MINI DOCUMENTATION</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <body>
        <div class="container-fluid">
          <div class="row">
            

              
        <div class="col-md-9">
          <main id="main-doc">    
            <div class="head-box">
              <h1>API DOCUMENTATION</h1>
            </div>
            
              <section class="main-section" id="Introduction">
                <header><h2>Introduction</h2></header>
                  <article>
                    <p>
                        API IS HOSTED LIVE ON HEROKU
                    </p>
               </article>
             </section>
          
          

                  
          <section class="main-section" id="Components">
                <header><h2>ENDPOINTS</h2></header>
                  <article>
        <p>CREATE USER ENDPOINT</p>          
        <pre>
            <code>
                <!-- curl --location --request POST 'http://127.0.0.1:5000/api/user' \ -->
                POST /api/user
            </code>

          </pre>
        


          <p>GET USER ENDPOINT
        </p>          
        <pre>
            <code>
                GET /api/user/me
            </code>

          </pre>
        
          <p>GET PENDING FIXTURES</p>          
        <pre>
            <code>
                /api/user/fixtures/pending                        
            </code>

          </pre>
        




          <p>GET COMPLETED FIXTURES ENDPOINT</p>          
        <pre>
            <code>
                GET /api/user/fixtures/completed
            </code>

          </pre>
        

            </main>
              
            <hr>
         <footer>
              <div class="contact">
            <a class="mr-2" href="https://github.com/GoodnessEzeokafor target="_blank">
            Github
            </a>
            <a href="https://www.linkedin.com/in/goodness-ezeokafor-1a0528162/" target="_blank">
                Linkedin
            </a>
            <a href="https://twitter.com/GoodyEzeokafor" target="_blank">
            Twitter  
            </a>
          </div>
              <p>&copy 2020 Goodness Ezeokafor</p>
            </footer>    
            
          </div>
         </div>
        </div>
            
</body>
</html>